{% extends 'base.html.twig' %}

{% block title %}
	{{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName ~ "'s " ~ profile.game.code ~ " Player Profile"}}
	| BioLeet.com
{% endblock %}

{% block meta_description %}
	{{ bio }}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<meta property="og:type" content="article">
	<meta property="og:url" content="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}">
	<meta property="og:title" content="{{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName }}">
	<meta property="og:description" content="Player profile for {{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName }}">
	{% if user.avatar == "default-avatar.png" %}
		<meta property="og:image" content="{{ asset('images/default/default-avatar.png') | imagine_filter('avatar_720') }}?bg=3e4c54&amp;h=800&amp;ixlib=java-2.1.0&amp;rect=121%2C4%2C467%2C467&amp;w=800&amp;s=b7849a6a6f471ee77b3e67e5b07a5d90">
	{% else %}
		<meta property="og:image" content="{{ asset('images/users/' ~ user.avatar) | imagine_filter('avatar_720') }}?bg=3e4c54&amp;h=800&amp;ixlib=java-2.1.0&amp;rect=121%2C4%2C467%2C467&amp;w=800&amp;s=b7849a6a6f471ee77b3e67e5b07a5d90">
	{% endif %}
	<meta property="og:image:height" content="720">
	<meta property="og:image:width" content="720">
	<meta property="og:site_name" content="BioLeet.com">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@BioLeetCom">
	<meta name="twitter:title" content="{{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName }}">
	<meta name="twitter:description" content="Player profile for {{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName }}">
	{% if user.avatar == "default-avatar.png" %}
		<meta property="twitter:image" content="{{ asset('images/default/default-avatar.png') | imagine_filter('avatar_720') }}?bg=3e4c54&amp;h=800&amp;ixlib=java-2.1.0&amp;rect=121%2C4%2C467%2C467&amp;w=800&amp;s=b7849a6a6f471ee77b3e67e5b07a5d90">
	{% else %}
		<meta property="twitter:image" content="{{ asset('images/users/' ~ user.avatar) | imagine_filter('avatar_720') }}?bg=3e4c54&amp;h=800&amp;ixlib=java-2.1.0&amp;rect=121%2C4%2C467%2C467&amp;w=800&amp;s=b7849a6a6f471ee77b3e67e5b07a5d90">
	{% endif %}
	<meta name="twitter:image:alt" content="{{ profile.user.firstName ~ " '" ~ profile.ingameName ~ "' " ~ profile.user.lastName }}">
	<link href="{{ app.request.schemeAndHttpHost ~ app.request.requestUri }}" rel="canonical">
	<link rel="stylesheet" href="/styles/profile.css">
{% endblock %}


{% block body %}
	<!-- parse-ignore-start -->
	<script>
		$(document).ready(function () {
			$('#achievements').DataTable({
				"order": [[0, 'desc']]
			});
		});
	</script>
	<!-- parse-ignore-end -->
	<div class="container">
		{% if isBanned and user and profile %}
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-4 mb-5 mb-lg-0 fadeIn">
					<div class="card border-0 shadow">
						<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724869879733839" crossorigin="anonymous"></script>
						<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-5s+dg-49-7o+14r" data-ad-client="ca-pub-6724869879733839" data-ad-slot="3238777244"></ins>
						<script>
							(adsbygoogle = window.adsbygoogle || []).push({});
						</script>
						<div class="card-body p-1-9 p-xl-5 bg-dark">
							<div class="mb-5">
								<h2>
									<span class="h1 mb-0 text-danger">BANNED</span>
								</h2>
								<h2>
									<span class="h3 mb-0">Until
										{{ user.banEnd | date('d/m/Y') }}</span>
								</h2>
							</div>
							<div></div>
						</div>
					</div>
					<div class="col-lg-8">
						<div class="ps-lg-1-6 ps-xl-5">
							<div class="mb-4"></div>
							<div class="mb-4 fadeIn"></div>
							<div class="mb-4 fadeIn">
								<div class="text-start mb-1-6 fadeIn">
									<h2 class="h3 mb-0 text-success">Reason</h2>
								</div>
								<p class="h4 text-danger">{{ user.banReason }}</p>
							</div>
							<div class="mb-4 fadeIn"></div>
						</div>
					</div>
				</div>
			</div>
		{% elseif isBanned == false and user and profile %}
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-4 mb-5 mb-lg-0 fadeIn">
					<div class="card border-0 shadow mb-4">
						{% if user.avatar == "default-avatar.png" %}
							<img src="{{ asset('images/default/default-avatar.png') | imagine_filter('avatar_720') }}" alt="{{ user.nickname }}" class="bg-custom-dark">
						{% else %}
							<img src="{{ asset('images/users/' ~ user.avatar) | imagine_filter('avatar_720') }}" alt="{{ user.nickname }}" class="bg-custom-dark">
						{% endif %}
						<div class="card-body p-1-9 p-xl-5 bg-secondary">
							<div>
								<h2>
									<span class="h2 mb-0">{{ user.nickname }}</span>
									{% if user.isVerified %}
										<span class="h5 mb-2">
											<i class="fa fa-check-circle me-2 fa-xl text-info" data-toggle="tooltip" data-placement="top" title="Verified"></i>
										</span>
									{% endif %}
									{% if isPremium %}
										<span class="h5 mb-2">
											<i class="fa fa-crown me-2 fa-xl text-warning" data-toggle="tooltip" data-placement="top" title="Premium"></i>
										</span>
									{% endif %}
								</h2>
								<h2 class="h3 mb-1">{{ user.firstName|upper ~ " " ~ user.lastName|upper }}
								</h2>
								<h2 class="h3 mb-1"><img src="{{ asset('images/countries/' ~ user.country ~ '.png') }}" style="width: 40px;" alt="{{ user.country|country_name }}">
									{{ user.country|country_name }}</h2>
								<h2 class="h3 mb-1"><img src="{{ asset('images/games/' ~ profile.game.code ~ '.png') }}" style="width: 40px;" alt="{{ profile.game.name }}">
									{{ profile.game.code|upper }}</h2>
								{% if profile.team %}
									<h2 class="h3 mb-2">
										<a href="/team/{{ profile.team.game.code }}/{{ profile.team.teamUrl }}">
											{% if profile.team.logo == "default-logo.png" %}
												<img src="{{ asset('images/default/default-logo.png') | imagine_filter('logo_40') }}" alt="{{ profile.team.teamName }}" style="width: 40px;" class="bg-custom-dark">
											{% else %}
												<img src="{{ asset('images/teams/' ~ profile.team.logo) | imagine_filter('logo_40') }}" alt="{{ profile.team.teamName }}" style="width: 40px;" class="bg-custom-dark">
											{% endif %}
											{{ profile.team.teamName }}</a>
									</h2>
								{% endif %}
								<h2 class="h4 mb-3">
									<i class="fa fa-cake me-2 fa-md"></i>
									{{ user.birthday | date('M d, Y') }}
								</h2>
							</div>
							{% if user.socialMedia is not empty %}
								<ul class="list-unstyled">
									{% if user.socialMedia.discord %}
										<li>
											<i class="fa-brands fa-discord me-2 fa-xl"></i>
											{{ user.socialMedia.discord }}
										</li>
									{% endif %}
								</ul>
								<ul class="social-icon-style2 ps-0">
									{% if user.socialMedia.facebook %}
										<li>
											<a href="{{ user.socialMedia.facebook }}" target="_blank">
												<i class="fa-brands fa-square-facebook me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.instagram %}
										<li>
											<a href="{{ user.socialMedia.instagram }}" target="_blank">
												<i class="fa-brands fa-instagram me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.tiktok %}
										<li>
											<a href="{{ user.socialMedia.tiktok }}" target="_blank">
												<i class="fa-brands fa-tiktok me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.twitter %}
										<li>
											<a href="{{ user.socialMedia.twitter }}" target="_blank">
												<i class="fa-brands fa-square-twitter me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.vk %}
										<li>
											<a href="{{ user.socialMedia.vk }}" target="_blank">
												<i class="fa-brands fa-vk me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.twitch %}
										<li>
											<a href="{{ user.socialMedia.twitch }}" target="_blank">
												<i class="fa-brands fa-twitch me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}
									{% if user.socialMedia.youtube %}
										<li>
											<a href="{{ user.socialMedia.youtube }}" target="_blank">
												<i class="fa-brands fa-youtube me-2 fa-2xl"></i>
											</a>
										</li>
									{% endif %}

								</ul>
							{% endif %}
						</div>
					</div>
					<div class="card border-0 shadow">
						{% if isPremiumProfile == false %}
							<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724869879733839" crossorigin="anonymous"></script>
							<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-5s+dg-49-7o+14r" data-ad-client="ca-pub-6724869879733839" data-ad-slot="3238777244"></ins>
							<script>
								(adsbygoogle = window.adsbygoogle || []).push({});
							</script>
						{% endif %}
					</div>
				</div>
				<div class="col-lg-8">
					<div class="ps-lg-1-6 ps-xl-5">
						<div class="mb-3 fadeIn ">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-light"><img src="{{ asset('images/games/' ~ profile.game.code ~ '.png') }}" style="width: 48px;" alt="{{profile.game.name}}">
									{{ profile.ingameName }}
									-
									{{ profile.game.name }}</h2>
							</div>
						</div>
						{% if isPremiumProfile == false %}
							<div class="mb-4 fadeIn">
								<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724869879733839" crossorigin="anonymous"></script>
								<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-g7-1f+56-5v+6o" data-ad-client="ca-pub-6724869879733839" data-ad-slot="4360287224"></ins>
								<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
						{% endif %}
						<div class="mb-4 fadeIn">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-success">About</h2>
							</div>
							<p>{{ bio }}</p>
						</div>
						<div class="mb-4 fadeIn">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-success">Languages</h2>
							</div>
							<ul class="languages-style ps-0 mb-2">
								{% for language in user.languages() %}
									<li>
										<a class="rounded-4 bg-dark">
											{{ language|language_name }}
										</a>
									</li>
								{% endfor %}
							</ul>
						</div>
						<div class="mb-4 fadeIn">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-success">Roles</h2>
							</div>
							<ul class="languages-style ps-0 mb-2">
								{% if profile.gameRole is not empty %}
									{% for _gameRole in profile.gameRole %}
										<li>
											<a class="rounded-4 bg-dark">
												{{ _gameRole.name }}
											</a>
										</li>
									{% endfor %}
								{% else %}
									<p>Roles not set.</p>
								{% endif %}

							</ul>
						</div>
						<div class="mb-4 fadeIn">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-success">Setup</h2>
							</div>
							{% if profile.user.setup %}
								<div class="row">
									{% if profile.user.setup.cpu %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-microchip fa-1x me-2"></i>CPU
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.cpu }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if isPremiumProfile == false %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724869879733839" crossorigin="anonymous"></script>
												<ins class="adsbygoogle" style="display:inline-block;width:184px;height:126px" data-ad-client="ca-pub-6724869879733839" data-ad-slot="2706679801"></ins>
												<script>
													(adsbygoogle = window.adsbygoogle || []).push({});
												</script>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.gpu %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-exclamation fa-1x"></i>
													<i class="fas fa-folder-closed fa-1x me-2"></i>GPU
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.gpu }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.ram %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-memory fa-1x me-2"></i>RAM
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.ram }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.disk %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-hdd fa-1x me-2"></i>Disk
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.disk }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.monitor %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-desktop fa-1x me-2"></i>Monitor
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.monitor }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.mouse %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-mouse fa-1x me-2"></i>Mouse
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.mouse }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.keyboard %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-keyboard fa-1x me-2"></i>Keyboard
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.keyboard }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.mousepad %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-note-sticky fa-1x me-2"></i>Mousepad
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.mousepad }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.headphone %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-headphones fa-1x me-2"></i>Headphone
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.headphone }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.microphone %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-microphone fa-1x me-2"></i>Microphone
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.microphone }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.console %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-inbox fa-1x me-2"></i>Console
												</span>

												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.console }}</h6>
												</div>
											</div>
										</div>
									{% endif %}

									{% if profile.user.setup.controller %}
										<div class="col-sm-6 col-md-3 mb-1">
											<div class="card">
												<span class="bg-secondary rounded-top">
													<i class="fas fa-gamepad fa-1x me-2"></i>Controller
												</span>
												<div class="card-body fixed-height">
													<h6 class="card-title">{{ profile.user.setup.controller }}</h6>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							{% else %}
								<p>Setup information not set.</p>
							{% endif %}
						</div>
						<div class="mb-4 fadeIn">
							<div class="text-start mb-1-6 fadeIn">
								<h2 class="h3 mb-0 text-success">Achievements</h2>
							</div>
							{% if isPremium and profile %}
								<div class="table-responsive">
									{% if hasExperiences %}
										<table id="achievements" class="table table-hover table-bordered table-dark text-light">
											<thead>
												<tr>
													<th style="width: 15%;">Date</th>
													<th style="width: 10%;">Place</th>
													<th>Tournament</th>
													<th style="width: 25%;">Team</th>
												</tr>
											</thead>
											<tbody>
												{% for experience in profile.experiences %}
													<tr style="width: 100%;">
														<td>
															{{ experience.date|date('Y-m-d') }}
														</td>
														<td>
															{{ experience.place }}
														</td>
														<td>
															{% if experience.tournamentLink %}
																<a href="{{ experience.tournamentLink }}" target="_blank">
																	<img src="{{ experience.tournamentLogo ?: 'https://i.imgur.com/h37Vq9Y.png' }}" width="32" alt="{{ experience.tournamentName }}">
																	{{ experience.tournamentName }}
																</a>
															{% else %}
																<img src="{{ experience.tournamentLogo ?: 'https://i.imgur.com/h37Vq9Y.png' }}" width="32" alt="{{ experience.tournamentName }}">
																{{ experience.tournamentName }}
															{% endif %}
														</td>
														<td>
															<img src="{{ experience.teamLogo ?: 'https://i.imgur.com/rL4O7Y6.png' }}" width="32" alt="{{ experience.teamName }}">
															{{ experience.teamName }}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									{% else %}
										<p>Achievements not set.</p>
									{% endif %}
								</div>
							{% elseif isPremium == false and  profile %}
								<div class="table-responsive">
									{% if hasExperiences %}
										<table id="achievements" class="table table-hover table-bordered table-dark text-light">
											<thead>
												<tr>
													<th style="width: 15%;">Date</th>
													<th style="width: 10%;">Place</th>
													<th>Tournament</th>
													<th style="width: 25%;">Team</th>
												</tr>
											</thead>
											<tbody>
												{% for experience in profile.experiences|slice(0, 3) %}
													<tr style="width: 100%;">
														<td>
															{{ experience.date|date('Y-m-d') }}
														</td>
														<td>
															{{ experience.place }}
														</td>
														<td>
															{% if experience.tournamentLink %}
																<a href="{{ experience.tournamentLink }}" target="_blank">
																	<img src="{{ experience.tournamentLogo ?: 'https://i.imgur.com/h37Vq9Y.png' }}" width="32" alt="{{ experience.tournamentName }}">
																	{{ experience.tournamentName }}
																</a>
															{% else %}
																<img src="{{ experience.tournamentLogo ?: 'https://i.imgur.com/h37Vq9Y.png' }}" width="32" alt="{{ experience.tournamentName }}">
																{{ experience.tournamentName }}
															{% endif %}
														</td>
														<td>
															<img src="{{ experience.teamLogo ?: 'https://i.imgur.com/rL4O7Y6.png' }}" width="32" alt="{{ experience.teamName }}">
															{{ experience.teamName }}
														</td>
													</tr>
												{% endfor %}

											</tbody>
										</table>
									{% else %}
										<p>Achievements not set.</p>
									{% endif %}
								</div>
							{% endif %}
						</div>
						{% set videoId = profile.montage|replace({'https://www.youtube.com/watch?v=': '', 'http://www.youtube.com/watch?v=': ''}) %}
						{% if isPremium and profile.montage %}
							<div class="mb-4 fadeIn">
								<div class="text-start mb-1-6 fadeIn">
									<h2 class="h3 mb-0 text-success">Montage</h2>
								</div>
								<iframe width="100%" height="400px" src="{{ embed ~ videoId }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							</div>
						{% endif %}
						{% if isPremiumProfile == false %}
							<div class="mb-4 fadeIn">
								<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6724869879733839" crossorigin="anonymous"></script>
								<ins class="adsbygoogle" style="display:block" data-ad-format="fluid" data-ad-layout-key="-g7-1f+56-5v+6o" data-ad-client="ca-pub-6724869879733839" data-ad-slot="4360287224"></ins>
								<script>
									(adsbygoogle = window.adsbygoogle || []).push({});
								</script>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
		{% endif %}
	</div>
{% endblock %}
